.panel-default .panel-heading {
    color: #ffffff;
    background-color: #2d3e50;
    border-color: #ddd;
}

.jumbotron {
    background-color: #2d3e50;
    color: #FFFFFF;
    text-align: center;
}
